{
  "snapshot_time": "2026-05-20T10:15:30Z",
  "last_modified_time": "2026-05-20T10:16:02Z",
  "schema_version": "1",
  "tree": {
    "name": "root",
    "type": "dir",
    "children": [
      {
        "name": "media",
        "type": "dir",
        "children": [
          {
            "name": "packages",
            "type": "dir",
            "children": [
              {
                "name": "GFL_Castling",
                "type": "dir",
                "children": [
                  {
                    "name": "orange_cat.ico",
                    "type": "file",
                    "isbackuped": true,
                    "hashtype": "sha256",
                    "hashvalue": "a9bbb0755f80a61a9296ed3e9be7934286b536abb9f2e8e3e4b57c9fb35d9ee4"
                  }
                ]
              },
              {
                "name": "optional",
                "type": "dir",
                "children": [
                  {
                    "name": "hua_shi_zhun_xing",
                    "type": "dir",
                    "children": [
                      {
                        "name": "crosshair_good.png",
                        "type": "file",
                        "isbackuped": true,
                        "hashtype": "sha256",
                        "hashvalue": "d2468de1970eca59fc9c1d9f0534d2fb6596f7a274acc87fb68293725f082e59"
                      },
                      {
                        "name": "crosshair_poor.png",
                        "type": "file",
                        "isbackuped": false,
                        "hashtype": "invalid",
                        "hashvalue": "0"
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}